data/xml/ligaBalonmano.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="federacionBalonmano">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuarios">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="usuario" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string" />
                                        <xs:element name="apellidos" type="xs:string" />
                                        <xs:element name="username" type="xs:string" />
                                        <xs:element name="password" type="xs:string" />
                                        <xs:element name="rol" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="temporadas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="temporada" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="equipos">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="equipo" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="nombre"
                                                                    type="xs:string" />
                                                                <xs:element name="ganados"
                                                                    type="xs:string" />
                                                                <xs:element name="perdidos"
                                                                    type="xs:string" />
                                                                <xs:element name="empatados"
                                                                    type="xs:string" />
                                                                <xs:element name="golesFavor"
                                                                    type="xs:string" />
                                                                <xs:element name="golesContra"
                                                                    type="xs:string" />
                                                                <xs:element name="jugadores">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                name="jugador"
                                                                                maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="nombre"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="edad"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="nacionalidad"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="altura"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="peso"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="dorsal"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="posicion"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="foto">
                                                                                            <xs:complexType>
                                                                                                <xs:attribute
                                                                                                    name="url"
                                                                                                    use="required" />
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute
                                                                                        name="id"
                                                                                        type="xs:ID"
                                                                                        use="required" />
                                                                                    <xs:attribute
                                                                                        name="equipo"
                                                                                        use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="escudo">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="url"
                                                                            use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="id" type="xs:ID"
                                                                use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="jornadas">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="jornada" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="partidos">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                name="partido"
                                                                                maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="golesLocal"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="golesVisitante"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="estado"
                                                                                            type="xs:string" />
                                                                                    </xs:sequence>
                                                                                    <xs:attribute
                                                                                        name="id"
                                                                                        type="xs:ID"
                                                                                        use="required" />
                                                                                    <xs:attribute
                                                                                        name="local"
                                                                                        use="required" />
                                                                                    <xs:attribute
                                                                                        name="visitante"
                                                                                        use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="id" type="xs:ID"
                                                                use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>